.main-footer {
  padding: 80px 0;
}

.main-footer-text {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #bdbdbd;
  h2 {
    font:5rem "Molle-Regular", sans-serif;
  }
  p {
    font-size: 1.1rem;
  }
}