body {
  font: 1rem "Roboto-Regular", sans-serif;
  color: #fff;
}

a {
  text-decoration: none !important;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.display-none {
  display: none;
}

.display-flex {
  @include display-flex(flex !important);
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.spacing {
  letter-spacing: .4rem;
}

.blue-text {
  color: #017dfb;
}

.blue-bg {
  background: #017dfb;
}

.gray-bg {
  background: #f9f9f9;
}

.gray-text {
  color: #a5aec2;
}

.main-button {
  line-height: 50px;
  padding: 0 50px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #017dfb;
  cursor: pointer;
}